<div class="card">
    <div class="card-header" align="center">Welcome to GroceryCo Kiosk Checkout</div>
    <div class="card-body">
        <div class="card-title">Available Products</div>
        <table class="table" id="products">
            <thead>
            <tr>
                <td>Item</td>
                <td>Quantity</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in store.items">
                <td>
                    {{item.name}} <br>
                    <span>Max allowed: {{item.max_qty}}</span> <br>
                    <span ng-if="item.discount">Promo: {{item.discount.promo}}</span>
                </td>
                <td>
                    <input min="1" limit-to-max max="{{item.max_qty}}" type="number" ng-model="item.available_qty"/>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary" ng-click="store.cart.addItem(item)" ng-disabled="">Add</button>
                    <button type="button" class="btn btn-outline-danger" ng-click="store.cart.removeItem(item)" ng-disabled="">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="store.cart.items.length > 0">
    <div class="card-title" align="center">Cart</div>

        <table class="table" id="cart">
            <thead>
            <tr>
                <td>Product</td>
                <td>Price</td>
                <td>Total</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in store.cart.items">
                <td>
                    {{item.name}}
                </td>
                <td>
                    @ ${{item.reg_price}} x {{item.available_qty}} <br>
                    <span ng-if="item.calculateDiscount() > 0">Discount Applied: {{item.discount.promo}}</span>
                </td>
                <td>
                   ${{(item.reg_price * item.available_qty).toFixed(2)}} <br>
                   <span ng-if="item.calculateDiscount() > 0">- ${{item.calculateDiscount()}}</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total: {{store.cart.totalValue().toFixed(2)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="footer" align="center">@GroceryCo</div>